@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

.subheading{
	padding-top: 12%;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
}

#topspan{
	color:orangered;
	font-weight:bold;
	text-shadow: 2px;
	
}

#sub1{
	font-size: 32px;
	font-family:Quicksand,sans-serif;
	display: flex;
	margin-top: 30px; 

}
#sub2{
	margin-top: 30px; 
	margin-bottom: 35px;
    color: #fff;
    opacity: .8;
    font-size: 20px;
    line-height: 38px;
	display: flex;
	
}



nav{
	width: 100%;
	height: 75px;
	background-color: #273b5e;
	line-height: 75px;
	padding:0px 10px;
	position:fixed;
	z-index: 1;
}

nav .logo{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.5px; 
    padding-left: 20%;
 }
nav .logo p{
	float: left;
	color:#fff;
	text-transform: uppercase;
}

nav ul{
	float: right;
    padding-right: 20%;
   
}
nav ul li{
	display: inline-block;
	list-style: none;
    padding-right: 20px;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding:0px 32px;
    
}
nav ul li a:hover{
	color:#d9926f;
}
nav ul li .active{
	color:#de4305;
}
.image img{
	width: 100%;
	height: 0px auto;
	opacity: 0.80;
}

.flex-parent-element {

    display: flex;
    width: 100%;
    padding-top:8% ;
     background-color: #273b5e;
  }
  
  .flex-child-element {
    flex: 1;
    /* border: 2px solid blueviolet; */
    padding-left: 15%;
    color: white;
    width: 500px;
    height: 800px;
  }
  .flex-child-element2 {
    flex: 1;
    /* border: 2px solid blueviolet; */
    padding-right: 15%;
    color: white;
    width: 500px;
    height: 500px;
  }
  .course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
	
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.rowCourses{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;  
}
  
.course-col{
    flex-basis: 31%;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 

  
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* facility */

.facility{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #ecefee;
}
.facility-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
	
    text-align: center;
	background-color: white;
	
}

.facility-col:hover{
	transform: translateY(-20px)  ;
	transition:  0.5s ease-out;
}

.facility-col img{
    width: 100%;
    border-radius: 10px;
}
.facility-col p{
    padding: 0;
	font-size: 25px;
	color: #fd1849;
}
.facility-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.placedCandidate
{
	padding-left: 8%;
	text-align: left;
}
.pla{
	
    display: flex;
    justify-content: space-between;  
}
.pla2{
	
    padding-right: 8%;  
}
.buttonClass
{
	background-color: #fd1849;
	border: none;
	color: white;
	padding: 22px 26px;
	font-size: 25px;
	cursor: pointer;
	border-radius: 5px;
}

/* blog section */
.blog{
    width: 100%;
    margin: auto;
    text-align: center;
	padding-top: 100px;
	
}
.lineClass
{
	position: relative;
	top: 20px;
	border: none;
	height: 3px;
	background: #fd1849;
	margin-bottom: 50px;
	width:5%
}
.change
{
	font-size: 20px;
	color: #fd1849;
}
.change2
{
	font-size: 20px;
}

.main{
	max-width: 1700px;
	margin: 0 auto;
	
  }

  .card_image img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border-radius: 10px;
  }


.btnBlog {
	color: white;
	padding: 4%;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 40%;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: #fd1849;
  }

  .btnBlog:hover {
	background-color: blue;
  }

  .cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 5%;
	border-radius: 10px;
  }
  
  .cards_item {
	display: flex;
	padding: 3rem;
  }
  
  @media (min-width: 40rem) {
	.cards_item {
	  width: 50%;
	}
  }
  
  @media (min-width: 56rem) {
	.cards_item {
	  width: 33.3333%;
	}
  }
  
  .card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
  
  .card_content {
	padding-top: 5rem;
	padding-left: 1rem;
	background: white;
  }
  
  .card_title {
	color: black;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
	text-align: left;
  }
  
  .card_text {
	color: black;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;    
	font-weight: 400;
  }

  /*---------------- campus ----------------*/

  .rowcampus{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;  
}
.campus{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
	background-color: white;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

 .campus-col:hover {
	background-color: #fd1849 ;
	
  }

.campus-col:hover{
	transform: translateY(-20px)  ;
	transition:  0.5s ease-out;
}

#project1:hover h1 {
    color: white;
}
#project1:hover p {
    color: white;
}
#project1:hover i {
    color: white;
}



.campus-col img{
    width: 20%;
}

.campus p{
 font-size: 20px;
 margin-bottom: 50px;
 padding-left: 5%;
 line-height: 50px;
}

.campus h1
{
	padding-left: 5%;
}

.campus i
{
	margin-top: 5%;
	padding-left: 5%;
}

.smallicons
{
	font-size: 70vh;
	color:#fd1849 ;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/* company */


.company{
    width: 65%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
	
}


.rowCompany{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;  
}
  

.company-col{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

.company-col img
{
	width: 200px;
}

.company h1
{
	font-size: 20px;
	color: red;
}

.company p{
font-size: 50px;
color: #273b5e;
line-height: 50px;

}
