{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#1 Best Python, Angular, Flutter &amp; PHP training in Calicut, Kerala | Baabtra</title>
    <link rel="stylesheet"  href="{% static 'baabtraweb/baabtraweb.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<nav>
    <div class="logo">
      <a href="#" class="pull-left"><img style="	width: 204px;"  src="https://baabtra.com/assets/images/logo.png"></a>
    </div>
    <ul>
      <li><a href="" class="active">Programms</a></li>
      <li><a href="">Placement</a></li>
      <li><a href="">About us</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Enquire Now</a></li>
    </ul>
  </nav>
  
  
  <div class="flex-parent-element">
    <div class="flex-child-element magenta"> 
    <p class="subheading"> <span id="topspan">___</span>Learn Software</p>
    
    <h2 id="sub1">Getting a Software Job is So Easy Now with our IT Internship Programs.</h2>
    <p id="sub2">Programming from Kerala's most trusted software training company with the highest placement record. Enroll in software courses and internship programs in Python, Flutter, Angular and PHP to start your career. </p> 
    </div>
    <div class="flex-child-element2 green"> <img src="{% static 'images/baabtra.png' %}" alt="alternatetext"></div>
    </div>
    <!-- Courses -->
  <section class="course">
    <h3>EXPERTISE IN EDUCATION</h3>
    <h1>Ed-tech company with 11 years of industry leadership in training and placements, holding highest number of placement track in Malabar.</h1>
    <div class="rowCourses">
        <div class="course-col">
          <img class="courses" src="{% static 'images/flutter.png' %}" alt="flutter course training calicut kerala" style="width:200px">
          <h3>Flutter Training</h3>
        </div>
        <div class="course-col">
          <img class="courses" src="{% static 'images/python.png' %}" alt="python course training calicut kerala" style="width:200px">
            <h3>Python Training</h3>
        </div>   
        <div class="course-col">
          <img class="courses" src="{% static 'images/angular.png' %}" alt="angular course training calicut kerala" style="width:200px">
            <h3>Angular Training </h3>
        </div>
        <div class="course-col">
          <img class="courses" src="{% static 'images/php.png' %}" alt="php course training calicut kerala"style="width:200px">
          <h3>PHP Training</h3>
      </div>
    </div>
  </section>
  
  <!-- placement -->
  <section class="facility">
    <div class="pla">
    <h1 class="placedCandidate">Placed Candidates</h1>
    <div class="pla2">
    <button class="buttonClass fa fa-user">Placements</button>
    </div>
  </div>    
    <div class="rowCourses">
            <div class="facility-col">
                <img src="https://baabtra.com/assets/images/placements/baabtra-placed-candidate-15.png">
                <h3>Full Stack Developer</h3>
                <p>Baabtra</p>
                <p>Infosys</p>
            </div>
            <div class="facility-col">
              <img src="https://baabtra.com/assets/images/placements/baabtra-placed-candidate-30.png">
                <h3>Python Developer</h3>
                <p>Baabtra</p>
                <p>TCS</p>
            </div>
            <div class="facility-col">
              <img src="https://baabtra.com/assets/images/placements/baabtra-placed-candidate-22.png">
                <h3>Java Developer</h3>
                <p>Baabtra</p>
                <p>Wipro</p>
            </div>
            <div class="facility-col">
              <img src="https://baabtra.com/assets/images/placements/baabtra-placed-candidate-39.png">
              <h3>Php Developer</h3>
              <p>Baabtra</p>
              <p>Congnizant</p>
          </div>
        </div>
  </section>
  
  <!-- blog section -->
  <section class="blog">
  <div class="main">
    <p class="change">Blog </p>
    <h1>Latest Blog</h1>
    <hr class="lineClass">
    <p class="change2">Stay up to date with the latest tech news and trends with our blog.</p>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://baabtra.com/assets/images/blog/improve-your-skills-in-web-technologies.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">How you can improve your skills in web technologies?</h2>
            <p class="card_text"></p>
            <button class="btnBlog card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://baabtra.com/assets/images/blog/career-opportunities-in-python.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Career Opportunities in Python and Angular</h2>
            <p class="card_text"></p>
            <button class="btnBlog card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://baabtra.com/assets/images/blog/futuristic-career-options-and-opportunities-in-software-industry.webp"></div>
          <div class="card_content">
            <h2 class="card_title">The Best Futuristic Career Options For you</h2>
            <p class="card_text"></p>
            <button class="btnBlog card_btn">Read More</button>
          </div>
        </div>
      </li>
     
    </ul>
  </div>
  </section>
  
  <!---------- campus ---------->
      
  <section class="campus">
   
        <div class="rowcampus">
            <div class="campus-col" id="project1">
              <i class="fa fa-coffee smallicons" aria-hidden="true"></i>  
              <h1>Coffee with HR</h1>
                <p>
                  MNC HR representatives will visit Baabtra students to present their company, job opportunities, And job nature. Students will learn about the companies and have the chance to apply for jobs. </p>
              <div class="layer">
                   
                </div>
            </div>
            <div class="campus-col" id="project1">
              <i class="fa fa-globe smallicons" aria-hidden="true"></i>  
               <h1>Digital Fest</h1>
                <p>
                  Digital fest for baabtra students is a platform for students to showcase their software application development skills to companies for securing a job.   </p>
                <div class="layer">
                    
                </div>
            </div>
            <div class="campus-col" id="project1">
              <i class="fa fa-star smallicons" aria-hidden="true"></i>  
                <h1>CS Talent Show</h1>
                <p>
                  CS talent show, a live event hosted by the student community through their social media channels to showcase the projects done by students. Our instructors will monitor the students’ projects and provide guidance.
                </p>
                <div class="layer">
                   
                </div>
            </div>
            
        </div>
  </section>
  
    <!-- Company -->
    <section class="company">
      <h1>HIRING PARTNERS</h1>
      <p>Organizations Our Students are<br> Placed at</p>
      <hr class="lineClass">
      <div class="rowCompany">
          <div class="company-col">
            <img   src="https://baabtra.com/assets/images/company/cognizant.png">
            
          </div>
          <div class="company-col">
            <img  src="https://baabtra.com/assets/images/company/infosys.png">  
          </div>
          <div class="company-col">
            <img   src="https://baabtra.com/assets/images/company/oracle.png">  
         
          </div>
          <div class="company-col">
            <img  src="https://baabtra.com/assets/images/company/tata-consultancy-service.png">  
        
          </div>
      </div>
  
      <div class="rowCompany">
        <div class="company-col">
          <img   src="https://baabtra.com/assets/images/company/schneider-electric.png">  
         
        </div>
        <div class="company-col">
          <img   src="https://baabtra.com/assets/images/company/sesame-inspire-innovate.png">  
         
        </div>
        <div class="company-col">
          <img   src="https://baabtra.com/assets/images/company/nucore.png">  
         
        </div>
        <div class="company-col">
          <img   src="https://baabtra.com/assets/images/company/SRIT-India.png">  
        
        </div>
    </div>
    </section>
  
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
              <li><a href="http://scanfcode.com/category/android/">Android</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>
  
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
  </footer>
   
</body>  
</html>