{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baabtra.com</title>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet"  href="{% static 'baabtraweb/style.css' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <div class="wrapper">
        <!--NAVIGATION-->
               <nav>
                  <img src="{%static images/bl.png %}" class="img" alt="baabtra.com"> 
                  <ul>
                      <li><a href="#">Programms</a></li>
                      <li><a href="#">Placement</a></li>
                      <li><a href="#">AboutUs</a></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Enquire Now</a></li>
                </ul>
               </nav>
</body>
</html>